<%= @question.title %>
<%= @question.content %>
<ul>
<% @question.answers.each do |answer| %>
  <li>
    <%= answer.content %>
  </li>
</ul>
<% end %>

<%= button_to "Delete Question", @question, :method => :delete %>